.tree-node-title {
    &__root {
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 10px;
        border-bottom: 1px solid rgba(240, 216, 240, 0.683);

        &:hover {
            .tree-node-title__buttons {
                display: flex;
            }
        }
    }

    &__text {
        font-size: 1em;
    }

    &__buttons {
        display: none;

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 36px;
            width: 36px;
            margin: 2px 6px;
            border-radius: 50%;
            
        }
    }
}