.notes-list {
    &__root {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        width: 100%;

        .add_button {
            margin: 2rem;
        }

        .list {
                height: 50vw;
                overflow-y: scroll;
                padding: 1rem;
        }
    }
}

.note-item {
    &__root {
        display: flex;
        height: 6.5rem;
        border: 1px solid #d3d031;
        margin-bottom: 1rem;
        box-shadow: 0.4rem 0.4rem 5px 0px rgba(0, 0, 0, 0.332); 
        transition: 0.35s ease all;
        cursor: pointer;

        &:hover {
            border-color: #e7e421;
            box-shadow: 0.1rem 0.1rem 5px 0px rgba(0, 0, 0, 0.151); 
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}