.note_form {
    &__root {
        padding: 1.2em;
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
    }
    &__item {
        padding: 0.6rem;
        /* background: #f6f6f6c9; */
        border: 1px dashed #dfdcdc
    }
}