.header {
    &__root {
        position: fixed;
        width: 100%;
        height: 5rem;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 4px 6px;

        background: rgba(0, 0, 0, 0.1);
    }

    &__content {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__routes {
        display: flex;
    }

    &__route {
        text-transform: capitalize;
    }
}